
body {
	background-image: url("../images/brickwall_@2X.png");
}


.divBanner-1 {
	background-color: White;
	height: 80px;

}

.divBanner-1 h2 {
	background-color: #4aaaa5;
	text-align: center;
	border: 0px;
	padding: 10px;
	font-size: 22px;
	color: White; 
	height: 80px;
	padding-top: 25px;

}






.divNavigationBarCont {
	background-color: #ffffff;
	height: 80px;


}


.divNavigationBar ul {
    list-style-type: none;
    margin-top: 25px;
	
    background-color: #ffffff;
    font-size: 15px;
}

.divNavigationBar li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: solid 1px Gray;
}

.divNavigationBar li a {
	text-decoration: none;
	font-family: "Georgia", "Times", "Times New Roman", "serif"; 
	color: Gray; 
}




@media (max-width: 680px) {

	.divNavigationBarCont {
		background-color: #ffffff;
		height: 50px;
		
	}


	.divNavigationBar ul {
    	list-style-type: none;
    	margin-top: 20px;
		text-align: justify;
    	background-color: #ffffff;
    	font-size: 12px;

}

	.divNavigationBar li {
		display: inline;
		padding-right: 50px;
		padding-left: 50px;
		border-left: White;
		text-align: justify;
}
		
	}



}


